body {
  font-family: Arial, sans-serif;
}
.container {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
th, td {
  padding: 12px;
  border: 1px solid #ddd;
}
th {
  background-color: #f4f4f4;
}
.keterangan span {
  font-weight: bold;
  color: #cc3366;
}
.btn-tambah {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
.btn-tambah:hover {
  background-color: #218838;
}

form {
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  label, input, select, textarea, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
  }